* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
}
body {
  background: #ddd;
}
#container {
  position: relative;
  margin: 0 auto;
}
#container div {
  float: left;
  width: 200px;
  padding: 10px;
  margin: 10px;
  line-height: 2em;
  border-radius: 5px;
  background: white;
  text-align: center;
}
#container div img {
  width: 100%;
}
#container div:hover {
  opacity: .5;
}
#container div:hover a {
  color: red;
}
