.audio {
  position: relative;
  margin-right: .24rem;
  text-indent: 0;
  font-size: .52rem;
  cursor: pointer;
}
.audio canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
}
.audio:before {
  color: #fbb435;
  border-radius: 50%;
  background-color: white;
}
