html {
  background-color: #29bde0;
}
body {
  margin: 0 auto;
  max-width: 640px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: .3rem 0 .2rem;
  color: white;
  font-size: .31rem;
  background-color: #29bde0;
}
.header .btn {
  margin: 0 .24rem;
  background-color: transparent;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 6.4rem;
}
